Package: shopify-cli
Version: 1.0.1
Section: custom
Priority: optional
Architecture: amd64
Essential: no
Maintainer: github.com/Shopify/shopify-app-cli
Depends: ruby (>= 2.3)
Description: Shopify CLI metapackage, which installs the shopify-cli Ruby gem
