.tmp/*
.bundle/*
.DS_Store
*.gz
.vagrant/
*.log
docs/_site/
tmp/
.git/*
markdown_intermediate
.idea
vendor/bundle
*.gem
node_modules
package.json
yarn.lock
packaging/builds
packaging/debian/shopify-cli
packaging/debian/shopify-cli.deb
packaging/rpm/build
packaging/rpm/shopify-cli.spec
.byebug_history
ext/shopify-extensions/shopify-extensions
.console_history
