article {
  padding: 30px 0;
  color: #212326;
  min-height: 80vh;
}

article a:link {
  text-decoration: underline;
}

article a:hover {
  text-decoration: none;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-top: 1em;
}

article h1:first-child,
article h2:first-child,
article h3:first-child,
article h4:first-child,
article h5:first-child,
article h6:first-child {
  margin-top: 0;
}

article ul {
  list-style: disc;
  margin-left: 20px;
}

article ol {
  list-style: decimal;
  margin-left: 20px;
}

blockquote {
  margin: 0 0 30px 0;
  padding: 20px 20px 10px 20px;
  text-align: left;
  background: #f0f1f2;
  border-left: 4px solid #828a91;
}

blockquote b,
blockquote strong,
blockquote h4 {
  margin-top: 0;
  color: #647382;
}

blockquote h4 {
  padding-left: 30px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 1em auto;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2033.8%2039.5%22%3E%3Cstyle%20type=%22text/css%22%3Ecircle,%20ellipse,%20line,%20path,%20polygon,%20polyline,%20rect,%20text%20%7B%20fill:%20rgb(100,%20115,%20130)%20!important;%20%7D%3C/style%3E%3Cpath%20d=%22M13.3%2034.6c.2.1.4.2.7.4-.3-.1-.5-.2-.7-.4z%22/%3E%3Cpath%20d=%22M33%208c.7-1.2%201-2.6.6-4-.3-1.4-1.2-2.5-2.4-3.2-.7-.5-1.7-.8-2.6-.8-1.8%200-3.5.9-4.5%202.5-.8%201.3-1%202.8-.6%204.2-.7-.2-1.4-.3-2.2-.4-4.3-.4-8.6%201.4-11.3%204.9%200%200%200%20.1-.1.1-.3.3-.5.7-.7%201.1-.3.6-.6%201.1-.8%201.6-.8%201.8-2.1%203.2-3.9%204-1.6.7-2%20.7-2.1.7-.8.1-1.5.5-2%201.2-.4.7-.5%201.5-.2%202.3C1.3%2024.7%203%2026.9%205.3%2029l1.8%201.5c-.3.3-.5.6-.8%201-1.5%202.5-.7%205.7%201.7%207.2.8.5%201.8.8%202.7.8%201.8%200%203.5-.9%204.5-2.5.2-.3.4-.7.5-1.1.5.2%201%20.5%201.5.6%202.8%201.1%205.4%201.7%208%201.7h1.2c.8%200%201.5-.5%201.9-1.2.4-.7.5-1.6.2-2.3%200-.1-.2-.5-.3-2.2-.1-1.9.5-3.7%201.7-5.1l.1-.2c.4-.5.7-.9%201-1.4l.6-1.2v-.1c2-4.2%201.5-9.1-1.2-12.9-.3-.4-.6-.8-1-1.2C31%2010.1%2032.2%209.3%2033%208zM13.6%2036c-.6%201-1.6%201.5-2.8%201.5-.6%200-1.2-.2-1.7-.5-1.5-.9-2-2.9-1.1-4.5.2-.3.4-.6.7-.8.8.6%201.6%201.1%202.6%201.7.7.4%201.4.8%202%201.2.2.1.4.2.7.3-.1.4-.2.8-.4%201.1zm16.3-12.3c-.2.4-.3.7-.5%201-.2.4-.5.8-.9%201.2l-.1.1c-1%201.2-1.7%202.7-2%204.2-.1%200-.1.1-.2.1-1.6.4-11-2.6-16.2-8.9-.3-.4-1-.5-1.4-.1-.4.3-.5%201-.1%201.4%205%206.1%2014%209.7%2017.5%209.7h.3v.1c.1%201.9.3%202.6.5%202.9.1.2%200%20.4%200%20.5%200%20.1-.2.2-.4.2-2.7.2-5.3-.3-8.3-1.5-.8-.3-1.6-.7-2.5-1.1-1-.5-2.1-1.1-3.2-1.8s-2.1-1.3-3-2c-.9-.7-1.8-1.4-2.7-2.2-2.1-1.9-3.6-4-4.6-6.2-.1-.2%200-.4%200-.4%200-.1.2-.2.4-.2s.8-.1%202.8-.9c2.2-1%204-2.8%205-5%20.2-.4.4-.8.7-1.3.2-.3.4-.5.6-.8%200%200%200-.1.1-.1%202.2-2.9%205.9-4.5%209.6-4.1%201.6.2%203.2.7%204.6%201.6%201.2.8%202.3%201.7%203.1%202.9%202.2%203%202.6%207.1.9%2010.7zM31.3%207c-.6%201-1.6%201.5-2.8%201.5-.6%200-1.2-.2-1.7-.5-1.5-.9-2-2.9-1.1-4.5.6-1%201.6-1.5%202.8-1.5.6%200%201.2.2%201.7.5.7.5%201.3%201.2%201.5%202%20.2.8.1%201.7-.4%202.5z%22/%3E%3Cpath%20d=%22M22.8%2011.3c-.2.5-.7.8-1.2.7-.1%200-4.2-.7-8.8%208.5-.1.3-.5.5-.8.5-.2%200-.3%200-.4-.1-.5-.2-.7-.9-.5-1.3%205.5-10.9%2010.8-9.6%2011-9.5.6.1.9.7.7%201.2z%22/%3E%3C/svg%3E");
}

code {
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  padding: 0.5px 5px 2px;
  border-radius: 5px;
  background: #f4f6f8;
  border: 1px solid #c4cdd5;
  overflow-wrap: break-word;
}

h1 code, h2 code, h3 code, .on-this-page code {
  background-color: transparent;
  border: none;
  padding: 0;
}

#PageContainer {
  overflow: visible;
}

#Content {
}

#SidebarNav {
  padding-top: 30px;
}

@media screen and (min-width: 46.875em) {
  #SidebarNav {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
  }
}

#SidebarNav .is-active {
  font-weight: 700;
  border-color: #212326;
}

.marketing-nav__logo__shopify {
  width: 214px;
  height: 32px;
}

.in-page-menu li > ul {
  margin-left: 30px;
}

.in-page-menu li ul a {
  border-left: 0;
}

.link--external {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2020%2020%22%3E%3Cstyle%20type=%22text/css%22%3Ecircle,%20ellipse,%20line,%20path,%20polygon,%20polyline,%20rect,%20text%20%7B%20fill:%20rgb(92,%20106,%20196)%20!important;%20%7D%3C/style%3E%3Cpath%20d=%22M17%202c.553%200%201%20.448%201%201v5c0%20.552-.447%201-1%201s-1-.448-1-1V5.414l-7.293%207.293c-.195.195-.45.293-.707.293s-.512-.098-.707-.293c-.39-.39-.39-1.023%200-1.414L14.586%204H12c-.553%200-1-.448-1-1s.447-1%201-1h5zm-4%209c.553%200%201%20.448%201%201v5c0%20.552-.447%201-1%201H3c-.553%200-1-.448-1-1V7c0-.552.447-1%201-1h5c.553%200%201%20.448%201%201s-.447%201-1%201H4v8h8v-4c0-.552.447-1%201-1z%22/%3E%3C/svg%3E%0A");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  padding-right: 18px;
}

.footer-nav {
  margin-bottom: 0;
  border-bottom: 0;
}

/* Code highlights */

div.highlight {
  color: #ffffff;
  background-color: #000639;
  border-radius: 5px;
  margin-bottom: 15px;
}

pre.highlight {
  font-size: 1em;
  white-space: pre-wrap;
  margin: 0;
  overflow-x: auto;
  text-align: left;
}

.highlight code {
  display: block;
  padding: 15px 0 15px 20px;
  background: none;
  border: none;
  white-space: pre;
}
