name: Shopify

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: shopify-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Tests with Ruby ${{ matrix.version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        version:
          - 3.0.2
          - 2.6.6
          - 2.7.5
        os:
          - macos-10.15
          - macos-11
          - ubuntu-20.04
          - ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set Git configuration
        run: |
          git config --global user.email "development-lifecycle@shopify.com"
          git config --global user.name "Development Lifecycle"

      - name: Set up Ruby ${{ matrix.version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.version }}
          bundler-cache: true

      - name: Install Dependencies
        run: bundle install

      - name: Run Tests
        run: bundle exec rake test
  acceptance_tests:
    name: Acceptance Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        version:
          - 3.0.2
        os:
          - ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set Git configuration
        run: |
          git config --global user.email "development-lifecycle@shopify.com"
          git config --global user.name "Development Lifecycle"

      - name: Set up Ruby ${{ matrix.version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.version }}
          bundler-cache: true

      - uses: actions/setup-node@v2
        with:
          node-version: "14.9.0"

      - uses: docker-practice/actions-setup-docker@master

      - name: Install Dependencies
        run: bundle install

      - name: Run Tests
        run: bundle exec cucumber
  rubocop:
    name: Rubocop
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        version:
          - 3.0.2
        os:
          - macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Ruby ${{ matrix.version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.version }}
          bundler-cache: true

      - name: Install Dependencies
        run: bundle install

      - name: Rubocop
        run: bundle exec rake rubocop
